		    <!-- Bootstrap -->
		    <link href="/css/bootstrap.min.css" rel="stylesheet">
		    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

			<p>
			<% if(sStatusLed===true) { %>
				<% if(bcm.status===0) { %>
				<button onclick="javacript:window.location.reload()" type="button" class="btn btn-lg btn-danger"><%=bcm.name%></button>
				<% } else { %>
				<button onclick="javacript:window.location.reload()" type="button" class="btn btn-lg btn-success"><%=bcm.name%></button>
				<% } %>
			<% } else { %>
				<button onclick="javacript:window.location.reload()" disabled type="button" class="btn btn-lg "><%=bcm.name%></button>
				<div class="alert alert-danger" role="alert">
					<strong>Warning!</strong> Sorry, but currently the button is switched off.
				</div>
				<script type="text/javascript">
					parent.document.getElementById("item_<%=bcm.id%>").height="120";
				</script>				

			<% } %>
			</p>
