<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='icon' href='/favicon.ico' type="image/x-icon" />
  </head>
  <body>
    <div id="page-wrap">

      <header class="main" id="h1">
        <h2>Header</h2>
      </header>

      <nav class="main" id="n1" role="navigation">
        <span><a href="/">Start</a></span>
      </nav>

      <section class="main" id="s1"> 
      <br><br>
      <%- body %>
      <br><br>
      </section>

      <footer class="main" id="f1">
        <a href="http://es.wikipedia.org/wiki/Quiz">
          Footer
        </a>
      </footer>
    </div>
  </body>
</html>