body {
  padding: 50px;
  font: 14px Arial, Helvetica, sans-serif;
  text-align: center;	
}

a {
  color: #00B7FF;
}

.greenButton {
	background-color:#44c767;
	-moz-border-radius:34px;
	-webkit-border-radius:34px;
	border-radius:34px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:24px 54px;
	text-decoration:none;
	text-shadow:0px 2px 0px #2f6627;
}
.greenButton:hover {
	background-color:#5cbf2a;
}
.greenButton:active {
	position:relative;
	top:1px;
}

.redButton {
	background-color:#e4685d;
	-moz-border-radius:34px;
	-webkit-border-radius:34px;
	border-radius:34px;
	border:3px solid #ae2a1e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:24px 54px;
	text-decoration:none;
	text-shadow:0px 2px 0px #27662f;
}
.redButton:hover {
	background-color:#eb675e;
}
.redButton:active {
	position:relative;
	top:1px;
}
